h1 {
	color: orange;
}

#id1 {
	color: pink;
	font-size: 24px;
	font-family: Courier New;
}

#id2 {
	text-align: center;
	color: green;
	
}
.purplev{
	color: purple;
	font-family: Comic Sans MS;
}

.bluev p{
	color: dodgerBlue;
	font-family: Consolas;
}

.center {
	text-align: center;
	color: red;
	font-family: Trebuchet MS;
}
