h1 {
	color: orange;
}

#id1 {
	color: pink;
	font-size: 24px;
	font-family: verdana;
}

#id2 {
	text-align: center;
	color: green;
}
.bluev p{
	color: blue;
	font-family: Trebuchet MS;
}

.center{
	text-align: center;
	color: red;
	font-family: Courier;
}
