* {
    box-sizing: border-box;
}

/* Gives the body a font and margin */
body {
  margin: 40px;
  font-family: "Didact Gothic";
}

/* Style the header */
.header {
    padding-top: 25px;
    text-align: center;
    font-family: "Times New Roman";
    font-size: 50px;
}

.headerp {
	text-align: center;
	padding-bottom: 25px;
	color: #b2b2b2;
	font-size: 17px;
}

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #333;
}

/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    width: 20%;
}

/* Change color on hover */
.topnav a:hover:not(.active) {
    background-color: #ddd;
    color: black;
}

/* indicate active page on nav */
#activepage {
    background-color: dodgerBlue;
}

/* A - Create three unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
}

/* Left and right column */
.column.left {
    width: 27%;
    background-color: #3A99FF;
    text-align: center;
    padding: 40px;
}

/* Styles for text without other containers or columns */
.plain.main {
		margin: 50px;
		padding-left: 30px;
		padding-top: 10px;
		padding-right: 30px;
		text-align: justify;
}

.recipes.main {
		margin: 90px;
		padding-left: 30px;
		padding-top: 10px;
		padding-right: 30px;
		text-align: justify;
}

/* Main columns for pages with another column */
.column.main {
    width: 70%;
    padding: 50px;
    padding-right: 50px;
    font-size: 17px;
    text-align: justify;
}

.quoteColorHome {
	font-family: "Amatic SC";
	font-size: 35px;
	color: dodgerBlue;
}

.quoteStyle {
	font-family: "Amatic SC";
	font-size: 50px;
	color: dodgerBlue;
}

.videoback {
	/* background-color: #3A99FF; */
	padding-top: 30px;
	padding-bottom: 30px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Gets rid of the underline on the link */
.anolines {
	padding: 30px;
	text-decoration: none;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .column.side, .column.middle {
        width: 100%;
    }
}

/* Style the footer */
.footer {
    background-color: #f2f2f2;
    padding: 15px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 4px solid dodgerBlue;
    margin: 2em 0;
    padding: 0; 
}

/* Table styling */
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

#infoBack {
    border-left: 6px solid dodgerblue;
    background-color: rgb(230, 243, 255);
    padding: 16px 16px 16px;
    margin: 20px 0;
    width: 40%;
}
